photo_folder/
*.jpg
*.jpeg
*.png
*.mp4
*.pt
*.onnx
*.weights
.wwebjs_auth/
.wwebjs_cache/
.wwebjs_auth.bak*/
.wwebjs_cache.bak*/
node_modules/
venv/
__pycache__/
*.pyc
.env
.devcontainer/
1m_beers.db-wal
1m_beers.db-shm
1m_beers.db-journal
*.backup*
core.*
