# --- Cartelle Dati e Media ---
dataset/
media/
photo_folder/
debug_folder/

# --- Modelli AI Pesanti ---
*.pt

# --- Ambienti e Dipendenze ---
env_birre/
node_modules/
package-lock.json

# --- File Sensibili/Locali ---
_chat.txt

# --- Sessione Segreta WhatsApp ---
.wwebjs_auth/
.wwebjs_cache/


.env
photo_folder/
